

#id1 {
    width: 100%;
    height: 100%;
    background-color: #fff5d6;
}

#id2 {
    width: 90%;
     float: left;
      height: 100vh;
       background-color: rgb(111, 223, 231);
}

#id3 {
    width: 100%;
     height: 20%;
      background-color: rgb(134, 247, 245);
}

#id4 {color: #dcfaaf;
width: 90%;
height: 90%;
}

#p1 {
    color: rgb(0, 0, 0);
     background-color: rgb(241, 254, 177);
      font-size: 30px;
       font-family: monospace; font-weight: lighter;
}


